.navbar{
	background-color: #000000;
	color: #FFFFFF;
	font-family: "Century Gothic"
	: center;
}

.map {
	height: 400px;
}

.listaRestaurantes{
	padding-top: 20px;
}

.restaurante {
	cursor: pointer;
}
